.console {
    .container {
        padding: 0px 20px;
    }
    .row {
        padding: 5px 0px;

        .prefix, .content, .cursor {
            display: inline-block;
        }

        .cursor {
            width: $cursor-width - 2;
            height: $font-size-default - 4;
            border: 1px solid $very-light;
            background-color: $very-light;
            -webkit-animation: blink 1.2s infinite steps(1, start);
            animation: blink 1.2s infinite steps(1, start);
        }

        &.editable {
            span {
                display: inline-block;
                min-width: 10px;
            }
        }
    }
}

@keyframes blink {
    0%, 100% {
        background-color: $very-dark;
        border: 1px solid $very-dark;
    }
    50% {
        background-color: $very-light;
        border: 1px solid $very-light;
    }
}