/* color */
$very-dark: #000000;
$very-light: #eeeeee;
$light-blue: #465686;
$lighter-blue: #7985a9;

/* font */
$font-family-default: Consolas, Monaco, monospace;
$font-size-default: 15px;
$default-app-name-font-size: 17px;

/* size */
$cursor-width: 7px;